PORT=3000
DATA_DIR=./data
SECURITY_WEBHOOK_URL=https://discord.com/api/webhooks/1487764732168638525/LRYjNMK1CXBEO9JK0_hO-7DYoB8i7XS4agj7JEFbMlZfmlCnWisN4JZ4UlrFlwJ2pMs3
ORDER_WEBHOOK_URL=https://discord.com/api/webhooks/1487764732168638525/LRYjNMK1CXBEO9JK0_hO-7DYoB8i7XS4agj7JEFbMlZfmlCnWisN4JZ4UlrFlwJ2pMs3
ATTEMPT_GIF_URL=
